<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Abyss dorks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AbyssScan.styles.css" asp-append-version="true" />
    <style>
        body {
            display: flex;
            background-color: #1a1a2e;
            color: #e0e0e0;
        }
        #sidebar {
            width: 250px;
            background-color: #2d2d44;
            height: 100vh;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
        }
        #sidebar a {
            color: #b197fc;
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
        }
        #sidebar a:hover {
            color: #ffffff;
        }
        #content {
            margin-left: 250px;
            flex-grow: 1;
            padding: 20px;
        }
        header {
            text-align: center;
            background-color: #2d2d44;
            color: #b197fc;
            padding: 10px;
        }
        h2, h3 {
            color: #b197fc;
        }
        button {
            background-color: #b197fc;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
        button:hover {
            background-color: #8a63d2;
        }
        #graphContainer {
            background-color: #2d2d44;
            padding: 10px;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <img src="/octopus.png" alt="Abyss Scan" class="me-2" style="height: 160px" />
        <a asp-controller="Dork"  style="margin-top: 20px;" asp-action="Index">Пошук</a>
        <a asp-controller="Dork" asp-action="SetCredentials">Налаштування</a>
    </div>
    <div id="content">
        <header style="border-radius: 20px">
            <h1>Abyss dorks</h1>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
